<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>LedgerWeb</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand mx-auto" href="#">LedgerWeb</a> 
    </nav>
    <div class="container">
        <div class="row">
            <p class="lead m-3">This is an input tool for <code>ledger-cli</code></p>
        </div>
        <div class="row">
            <div class="col-sm align-self-center">
                <form name="ledgerform" action="/submit" method="get">
                    <div class="form-group">
                        <label for="transdate">Transaction date</label>
                        <input id="transdate" class="form-control" type="date" name="transdate">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" label="transclear" name="transclear">
                        <label class="form-check-label" for="transclear">Transaction cleared?</label>
                    </div>
                    <div class="form-group">
                        <label for="transrep">Transaction Recipient</label>
                        <input id="transrep" class=form-control name="transrep">
                    </div>
                    <label>From</label>
                    <div class="form-row">
                        <div class="col">
                            <input type="text" list="accounts" class="form-control" placeholder="From-Account" name="fromacc">
                        </div>
                        <div class="col">
                            <input type="number" step="0.01" class="form-control" placeholder="Amount" name="fromamount">
                        </div>
                    </div>
                    <label>To</label>
                    <div class="form-row">
                        <div class="col">
                            <input type="text" list="accounts" class="form-control" placeholder="Account" name="toacc">
                        </div>
                        <div class="col">
                            <input type="number" step="0.01" class="form-control" placeholder="Amount" name="toamount">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-dark mt-3">Submit</button>
                    <datalist id="accounts">
                        <option value="Assets:B:Budget">
                        <option value="Assets:C:Allowance">
                        <option value="Assets:C:Cash Savings">
                        <option value="Assets:C:Checking">
                        <option value="Assets:C:PayPal">
                        <option value="Assets:C:Savings">
                        <option value="Assets:S:Checking">
                        <option value="Assets:S:Giftcards:Basislager">
                        <option value="Assets:S:Paypal Credits">
                        <option value="Assets:S:Savings">
                        <option value="Budget:B:Kitchen">
                        <option value="Budget:C:Vacation">
                        <option value="Budget:Vacation">
                        <option value="Expenses:B:Entertainment:Netflix">
                        <option value="Expenses:B:Food:Groceries">
                        <option value="Expenses:B:Food:Pantry">
                        <option value="Expenses:B:Food:Produce">
                        <option value="Expenses:B:Food:Snacks">
                        <option value="Expenses:B:Home">
                        <option value="Expenses:B:Home:Kitchen">
                        <option value="Expenses:B:Home:Plants">
                        <option value="Expenses:B:Infrastructure:Internet">
                        <option value="Expenses:B:Infrastructure:Nextcloud">
                        <option value="Expenses:B:Power">
                        <option value="Expenses:B:Rent">
                        <option value="Expenses:B:Shipping">
                        <option value="Expenses:B:Transport">
                        <option value="Expenses:C:Banking">
                        <option value="Expenses:C:Cash">
                        <option value="Expenses:C:Clothes">
                        <option value="Expenses:C:Clothing">
                        <option value="Expenses:C:Contributions">
                        <option value="Expenses:C:Entertainment:Audible">
                        <option value="Expenses:C:Entertainment:HelloInternet">
                        <option value="Expenses:C:Entertainment:Music">
                        <option value="Expenses:C:Entertainment:Netflix">
                        <option value="Expenses:C:Fees:Ebay">
                        <option value="Expenses:C:Fees:EBay">
                        <option value="Expenses:C:Fees:Paypal">
                        <option value="Expenses:C:Fees:Sparkasse">
                        <option value="Expenses:C:Food">
                        <option value="Expenses:C:Food:Eating out">
                        <option value="Expenses:C:Food:Groceries">
                        <option value="Expenses:C:Food:Pantry">
                        <option value="Expenses:C:Food:Produce">
                        <option value="Expenses:C:Food:Snacks">
                        <option value="Expenses:C:Fun">
                        <option value="Expenses:C:Gifts">
                        <option value="Expenses:C:Health">
                        <option value="Expenses:C:Health:Skin">
                        <option value="Expenses:C:Home">
                        <option value="Expenses:C:Home:Bathroom">
                        <option value="Expenses:C:Home:Cleaning">
                        <option value="Expenses:C:Infrastructure:Domains">
                        <option value="Expenses:C:Infrastructure:Email">
                        <option value="Expenses:C:Infrastructure:Nextcloud">
                        <option value="Expenses:C:Phone">
                        <option value="Expenses:C:Rent">
                        <option value="Expenses:C:Saskia">
                        <option value="Expenses:C:Shipping">
                        <option value="Expenses:C:Software">
                        <option value="Expenses:C:Transport">
                        <option value="Expenses:C:University">
                        <option value="Expenses:C:Vacation:house">
                        <option value="Expenses:S:Cash">
                        <option value="Expenses:S:Clothing">
                        <option value="Expenses:S:Clothing:Shoes">
                        <option value="Expenses:S:Food">
                        <option value="Expenses:S:Food:Eating Out">
                        <option value="Expenses:S:Food:Groceries">
                        <option value="Expenses:S:Food:Pantry">
                        <option value="Expenses:S:Food:Produce">
                        <option value="Expenses:S:Gifts">
                        <option value="Expenses:S:Hair Dresser">
                        <option value="Expenses:S:Health">
                        <option value="Expenses:S:Health Care">
                        <option value="Expenses:S:Home">
                        <option value="Expenses:S:Home:Bathroom">
                        <option value="Expenses:S:Home:Furniture">
                        <option value="Expenses:S:Home:Kitchen">
                        <option value="Expenses:S:Home:Plants">
                        <option value="Expenses:S:Knitting">
                        <option value="Expenses:S:Leisure:Music">
                        <option value="Expenses:S:Leisure:Toepferkurs">
                        <option value="Expenses:S:Leisure:TV Shows">
                        <option value="Expenses:S:Phone">
                        <option value="Expenses:S:Rent">
                        <option value="Expenses:S:Shipping">
                        <option value="Expenses:S:Software">
                        <option value="Expenses:S:Tech">
                        <option value="Expenses:S:Travel">
                        <option value="Expenses:S:University">
                        <option value="Income:C:Allowance">
                        <option value="Income:C:Contributions">
                        <option value="Income:C:Experiment">
                        <option value="Income:C:Experiments">
                        <option value="Income:C:Gifts">
                        <option value="Income:C:Gifts:Birthday">
                        <option value="Income:C:Interest">
                        <option value="Income:C:Intrest">
                        <option value="Income:C:Paycheck">
                        <option value="Income:C:Paycheck:SZS">
                        <option value="Income:C:Refunds">
                        <option value="Income:C:Sales">
                        <option value="Income:C:SZS O-Phase">
                        <option value="Income:S:Bafoeg">
                        <option value="Income:S:Blood Donation">
                        <option value="Income:S:Change">
                        <option value="Income:S:Christoph">
                        <option value="Income:S:Experiment">
                        <option value="Income:S:Experiments">
                        <option value="Income:S:Gemuesebox">
                        <option value="Income:S:Gifts">
                        <option value="Income:S:Kindergeld">
                        <option value="Income:S:Paycheck">
                        <option value="Income:S:Refund">
                        <option value="Income:S:Salary">
                        <option value="Income:S:Sales">
                    </datalist>
                </form>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script type="text/javascript">
        function finishSubmit() {
            if(document.getElementById) {
                document.ledgerform.reset();
                $('#successAlert').addClass('show');
                setTimeout(function () {$('#successAlert').removeClass('show');}, 2000);
            }
        }
    </script>
  </body>
</html>
