<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>LedgerWeb</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand mx-auto" href="#">LedgerWeb</a> 
    </nav>
    <div class="container">
        <div class="row">
            <p class="lead m-3">This is an input tool for <code>ledger-cli</code></p>
        </div>
        <div class="row">
            <div class="col-sm align-self-center">
                <form name="ledgerform" action="/submit" method="get">
                    <div class="form-group">
                        <label for="transdate">Transaction date</label>
                        <input id="transdate" class="form-control" type="date" name="transdate">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" label="transclear" name="transclear">
                        <label class="form-check-label" for="transclear">Transaction cleared?</label>
                    </div>
                    <div class="form-group">
                        <label for="transrep">Transaction Recipient</label>
                        <input id="transrep" class=form-control name="transrep">
                    </div>
                    <label>From</label>
                    <div class="form-row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="From-Account" name="fromacc">
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" placeholder="Amount" name="fromamount">
                        </div>
                    </div>
                    <label>To</label>
                    <div class="form-row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Account" name="toacc">
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" placeholder="Amount" name="toamount">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-dark mt-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script type="text/javascript">
        function finishSubmit() {
            if(document.getElementById) {
                document.ledgerform.reset();
                $('#successAlert').addClass('show');
                setTimeout(function () {$('#successAlert').removeClass('show');}, 2000);
            }
        }
    </script>
  </body>
</html>
