{% extends "base.html" %}
{% block content %}


<div class="accordion" id="accordionExample">
{% for r in reps %}
    <div class="card">
        <div class="card-header" id="heading{{ r[0] }}">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#report{{ r[0] }}" aria-expanded="true" aria-controls="{{ r[1] }}">
                    <strong>Report {{ r[0] }}:</strong> {{ r[1] }}
                </button>
            </h2>
        </div>

        <div id="report{{ r[0] }}" class="collapse show" aria-labelledby="heading{{ r[0] }}" data-parent="#accordionExample">
            <div class="card-body">
                <pre>{{ r[2]|safe }}</pre>
            </div>
        </div>
    </div>        
{% endfor %}
</div>
{% endblock %}
